<div class="info-box">
  <h4>Search Flickr's User Photos!</h4>
</div>
<div class="row">
  <div class="col-centered">
    <div class="form">
      <%= form_for(:search, url: photos_path, method: :get) do |f| %>
        <%= f.text_field :id, class: 'form-field', label: "id" %>
        <%= f.submit "Search  User Photos By ID", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>