<div class="info-box">
  <h4>Search Flickr's user photos!</h4>
</div>

<div class="row">
  <div class="col-md-6 col-offset-3">
    <div class="form">
      <%= form_for(:search, url: photos_path, method: :get) do |f| %>
        <%= f.text_field :id, class: 'form-field', label: "id" %>
        <%= f.submit "Search  User photos by ID" %>
      <% end %>
    </div>
  </div>
</div>